@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EIRS.BOL.Assessment_Rules>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Assessment Rule RollOver Step 1";
}

@if (ViewBag.Res != null)
{
    <div class="alert alert-info">
        @ViewBag.Res
    </div>
}



<div class="row">
    <div class="col-xs-12 col-sm-7">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-lg fa-fw fa-life-saver"></i>
            Continue Roll-Over
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 text-right">
        <a href="@Url.Action("AssessmentRollOverStep2","DataControl")"
           class="btn btn-info"
           id="processRollOverButton"
           onclick="return showLoader();">
            Continue RollOver
        </a>
    </div>
</div>

<div id="loader" style="display:none; text-align:center; margin-top:20px;">
    <img src="~/Content/Images/ajax-loader.gif" alt="Loading..." />
</div>

@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentRuleID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentRuleCode)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ProfileID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentRuleName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().AssessmentAmount)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TaxYear)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@(item?.AssessmentRuleID != 0 ? item.AssessmentRuleID.ToString() : "N/A")</td>
                <td>@(item?.AssessmentRuleCode ?? "N/A")</td>
                <td>@(item?.ProfileID != 0 ? item.ProfileID.ToString() : "N/A")</td>
                <td>@(item?.AssessmentRuleName ?? "N/A")</td>
                <td>@(item?.AssessmentAmount?.ToString("C") ?? "N/A")</td>
                <td>@(item?.TaxYear != 0 ? item.TaxYear.ToString() : "N/A")</td>
            </tr>
        }
    </table>

    <br />

    <p>
        Page @(Model.PageCount > 0 && Model.PageNumber > 0 ? Model.PageNumber : 0)
        of @(Model.PageCount > 0 ? Model.PageCount : 0)
    </p>

    @Html.PagedListPager(Model, page => Url.Action("AssessmentRollOverStep1",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}
else
{
    <p>No records available.</p>
}


<script>
    // Function to display the loader
    function showLoader() {
        document.getElementById("loader").style.display = "block";
    }
</script>