@using PagedList;
@using PagedList.Mvc;
@model IPagedList<EIRS.BOL.MDA_Services>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Service Bill Roll Over Step 1";
}

<h2>Service Bill Roll Over Step 1</h2>
@if (ViewBag.Res != null)
{
    <div class="alert alert-info">
        @ViewBag.Res
    </div>
}

<div class="row">
    <div class="col-xs-12 col-sm-7">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa fa-lg fa-fw fa-life-saver"></i>
            MDA Services Roll-Over
        </h1>
    </div>
    <div class="col-xs-12 col-sm-5 text-right">
        <a href="@Url.Action("ServiceBillRollOverStep2","DataControl")"
           class="btn btn-info"
           id="processRollOverButton"
           onclick="return showLoader();">
            Continue RollOver
        </a>
    </div>
</div>

<div id="loader" style="display:none; text-align:center; margin-top:20px;">
    <img src="~/Content/Images/ajax-loader.gif" alt="Loading..." />
</div>


@using (Html.BeginForm("ServiceBillRollOverStep1", "DataControl", FormMethod.Get))
{
    <p>
        Find by MDA SERVICE NAME: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MDAServiceCode)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MDAServiceName)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().RuleRunID)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().ServiceAmount)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TaxYear)</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(item?.MDAServiceCode ?? "N/A")</td>
                <td>@(item?.MDAServiceName ?? "N/A")</td>
                <td>@(item?.RuleRunID ?? 0)</td>
                <td>@(item?.ServiceAmount?.ToString("C") ?? "N/A")</td>
                <td>@(item?.TaxYear != 0 ? item.TaxYear.ToString() : "N/A")</td>
            </tr>
        }
    </table>

    <br />

    <p>
        Page @(Model.PageCount > 0 && Model.PageNumber > 0 ? Model.PageNumber : 0)
        of @(Model.PageCount > 0 ? Model.PageCount : 0)
    </p>

    @Html.PagedListPager(Model, page => Url.Action("ServiceBillRollOverStep1",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
}
else
{
    <p>No records found.</p>
}


<script>
    // Function to display the loader
    function showLoader() {
        document.getElementById("loader").style.display = "block";
    }
</script>